########################
# 大文件与构建产物忽略 #
########################

# 明确忽略的二进制资源
/Thirdparty/Pangolin.tar.gz
/Vocabulary/ORBvoc.txt

# 常见构建产物
**/build/
**/target/
**/*.a
**/*.lib
**/*.dll
**/*.exe

# 避免把嵌套仓库元数据意外加入
**/.git/

